.navbar-default {
    background-color: #00ADFC;
    border: none;
	height: 100px;
}

#logo {
	height: 50px;
    margin-top: 25px;
    margin-left: 50px;
}

#mapid {
    height: 500px;
}

#wholecontainer {
    margin-top: 10px;
}

#searchcontainer {
    margin-bottom: 20px;
}

#agent-title, #agent-subtitle {
    text-align: center;
}

#agent-title {
    margin-top: 10px;
}
