.navbar-default {
	height: 100px;

    border: none;
    background-color: #00ADFC;
}

#logo {
	height: 50px;
    margin-top: 25px;
    margin-left: 50px;
}

#mapid {
    height: 500px;
}

#wholecontainer {
    margin-top: 10px;
    margin-bottom: 40px;
}

#searchcontainer {
    margin-bottom: 20px;
}

#agent-title, #agent-subtitle {
    text-align: center;
}

#headers {
    margin-top: 20px;
}

#byline-container {
    margin-top: -10px;
}

#byline {
    text-align: center;

    color: #00ADFC;

    font-size: 15px;
    line-height: 40px;
}

a {
    text-decoration: none !important;

    color: #00ADFC;
}
